<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script> 
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" />
	<script src="/js/allCoupons.js"></script>
  </head>
  <body>
  	<nav class="navbar navbar-default green" role="navigation">
	  <div class="container">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Wallie</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="/retailer" class="active">Add coupon</a></li>		      
		      <li><a href="#" class="viewCoupons">View all coupons</a></li>
		      <li class="logo"><a href="/retailer"><img src="/images/birdback-logo.png" width="60" height="60"></a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
	  </div>
	</nav>
	<div class="container">
		<h1>Logged in as <strong>Birdback</strong></h1>
		<div class="row wallieContainer">
			<form class="col-md-6" method="post" action="/retailer/submitCoupon">
				<fieldset>
					<legend>
						Add a coupon
					</legend>
					  <div class="form-group">
					    <label for="couponName">Coupon Text</label>
					    <input type="text" class="form-control" id="couponName" name="couponName" placeholder="Enter coupon text" maxlength="200">
					  </div>
					  <div class="form-group">
					    <label for="couponCode">Coupon Code: 004CCC - </label>
					    <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Coupon Code" maxlength="4">
					  </div>
					  <button name="addCoupon" type="submit" class="btn btn-success">Submit</button>
				 </fieldset>
			</form>
		</div>
	</div>
  </body>
</html>